body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cartContainer {
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(51, 51, 212);
  padding: 20px;
  position: relative;
}

.productImage {
  width: 130px;
  height: auto;
}

.productList {
  color: rgb(38, 103, 160);
}

.headtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: black;
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.closeButton:hover,
.removeButton:hover {
  background-color: rgba(219, 16, 16, 0.432);
  color: black;
  border-color: black;
}

.removeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.headContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPrice {
  margin: 0;
  text-align: center;
}

.inputQuantityNumber {
  background-color: blanchedalmond;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 30px;
  font-size: 15px;
}
