.productBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
}
.description {
  padding: 20px;
  text-align: justify;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.button {
  background-color: yellowgreen;
  color: black;
  border-color: black;
  border: 2px solid black;
  margin-top: auto;
}

.button:hover {
  background-color: yellow;
  border-color: black;
}

.favoriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  background-color: rgb(145, 233, 145);
}

.favoriteIcon svg {
  fill: rgb(255, 102, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}
