* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.Loading {
  color: black;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
}
.optionsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: black;
  gap: 10px;
}
